<!-- Modal -->
<div class="modal" id="movieModal">
  <div class="modal-content">
    <div class="poster">
      <img src="" alt="Poster" id="modalPoster" />
    </div>
    <div class="info">
      <h2 class="title" id="modalTitle"></h2>
      <div class="buttons">
        <button class="add-to-watched">Add to Watched</button>
        <button class="add-to-queue">Add to Queue</button>
      </div>
    </div>
    <span class="close-modal" id="closeModal">&times;</span>
  </div>
</div>

<!-- Loader -->
<div class="loader-container" id="loaderContainer">
  <div class="loader"></div>
</div>
