<footer class="footer-section section">
    <div class="footer-container">
        <p class="footer-content">
            &copy 2020 | All Rights Reserved | Developed with<span class="footer-heart"><svg class="footer-heart-icon"
                    width="14" height="13">
                    <use href="./images/footer-icons.svg#heart-icon"></use>
                </svg></span><button type="button" class="footer-button" footer-modal-open>by <span
                    class="goit-students">GoIT
                    Students</span></button>
        </p>
    </div>
</footer>