<footer class="footer-section section">
    <div class="footer-container">
        <p class="footer-content">
            &copy 2020 | All Rights Reserved |<br /> Developed with<span class="footer-heart"><svg
                    class="footer-heart-icon" width="14" height="13">
                    <use href="./images/footer-icons.svg#heart-icon"></use>
                </svg></span></span><button type="button" class="footer-button" footer-modal-open>by <span
                    class="goit-students">GoIT
                    Students</span></button>
        </p>
    </div>
</footer>

<!-- Modal -->
<div class="footer-backdrop is-hidden" footer-data-modal>
    <div class="footer-modal modal">
        <button type="button" class="footer-modal-close" footer-modal-close>
            <svg class="footer-modal-close-icon" width="28" height="28">
                <use href="./images/footer-icons.svg#close-icon"></use>
            </svg>
        </button>

        <!-- Modal Content -->
        <h2 class="footer-main-title">Team Members</h2>
        <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
            speed="600" parallax="true" pagination="true" pagination-clickable="true" navigation="true">
            <div slot="container-start" class="parallax-bg" style="background-image: url(./images/backgound-image.png);"
                data-swiper-parallax="-23%">
            </div>

            <swiper-slide>
                <div class="footer-name" data-swiper-parallax="-300">Jan Dilbert Ampuan</div>
                <div class="footer-description" data-swiper-parallax="-200">Team Leader</div>
                <div class="footer-text" data-swiper-parallax="-100"><img class="footer-member-img"
                        src="./images/jandi.jpg" alt="team leader" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="footer-name" data-swiper-parallax="-300">Adrienne Ortiz</div>
                <div class="footer-description" data-swiper-parallax="-200">Scrum Master</div>
                <div class="footer-text" data-swiper-parallax="-100"><img class="footer-member-img"
                        src="./images/addie.jpg" alt="team leader" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="footer-name" data-swiper-parallax="-300">Christine Javier</div>
                <div class="footer-description" data-swiper-parallax="-200">Junior Web Developer</div>
                <div class="footer-text" data-swiper-parallax="-100"><img class="footer-member-img"
                        src="./images/tine.jpg" alt="team leader" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="footer-name" data-swiper-parallax="-300">Rowell Calipay</div>
                <div class="footer-description" data-swiper-parallax="-200">Junior Web Developer</div>
                <div class="footer-text" data-swiper-parallax="-100"><img class="footer-member-img"
                        src="./images/well.jpg" alt="team leader" />
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="footer-name" data-swiper-parallax="-300">Crisanto Pedroso</div>
                <div class="footer-description" data-swiper-parallax="-200">Junior Web Developer</div>
                <div class="footer-text" data-swiper-parallax="-100"><img class="footer-member-img"
                        src="./images/peds.jpg" alt="team leader" />
                </div>
            </swiper-slide>