<footer class="footer-section section">
    <div class="footer-container">
        <p class="footer-content">
            &copy 2020 | All Rights Reserved |<br /> Developed with<span class="footer-heart"><svg
                    class="footer-heart-icon" width="14" height="13">
                    <use href="./images/footer-icons.svg#heart-icon"></use>
                </svg></span></span><button type="button" class="footer-button" footer-modal-open>by <span
                    class="goit-students">GoIT
                    Students</span></button>
        </p>
    </div>
</footer>

<!-- Modal -->
<div class="footer-backdrop is-hidden" footer-data-modal>
    <div class="footer-modal modal">
        <button type="button" class="footer-modal-close" footer-modal-close>
            <svg class="footer-modal-close-icon" width="28" height="28">
                <use href="./images/footer-icons.svg#close-icon"></use>
            </svg>
        </button>

        <!-- Modal Content -->
        <!-- Add gallery items to this list -->
        <div class="slide-container mySwiper" pagination="true">
            <div class="card-wrapper myswiper footer-swiper">
                <ul class="gallery swiper-wrapper">
                    <li class="footer-member-details swiper-slide list">
                        <img class="footer-member-img" srcset="
                                            ./images/addie.jpg    1x,
                                            ./images/addie@2x.jpg 2x
                                          " src="./images/addie.jpg" alt="team leader" />
                        <h3 class="footer-member-title">Team Leader</h3>
                        <p class="footer-member-name">Jan Dilbert Ampuan</p>
                        <!-- <button class="price">45 UAH</button> -->
                    </li>
                    <li class="footer-member-details swiper-slide list">
                        <img class="footer-member-img" srcset="
                    ./images/addie.jpg    1x,
                    ./images/addie@2x.jpg 2x
                  " src="./images/addie.jpg" alt="scrum master" />
                        <h3 class="footer-member-title">Scrum Master</h3>
                        <p class="footer-member-name">Adrienne Ortiz</p>
                        <!-- <button class="price">50 UAH</button> -->
                    </li>
                    <li class="footer-member-details swiper-slide list">
                        <img class="footer-member-img" srcset="
                    ./images/tine.jpg    1x,
                    ./images/tine@2x.jpg 2x
                  " src="./images/tine.jpg" alt="junior web developer" />
                        <h3 class="footer-member-title">Christine Javier</h3>
                        <p class="footer-member-name">Junior Web Developer</p>
                        <!-- <button class="price">66 UAH</button> -->
                    </li>
                    <li class="footer-member-details swiper-slide list">
                        <img class="footer-member-img" srcset="
                    ./images/tine.jpg    1x,
                    ./images/tine@2x.jpg 2x
                  " src="./images/tine.jpg" alt="junior web developer" />
                        <h3 class="footer-member-title">Rowell Calipay</h3>
                        <p class="footer-member-name">Junior Web Developer</p>
                        <!-- <button class="price">54 UAH</button> -->
                    </li>
                    <li class="footer-member-details swiper-slide list">
                        <img class="footer-member-img" srcset="
                    ./images/tine.jpg    1x,
                    ./images/tine@2x.jpg 2x
                  " src="./images/tine.jpg" alt="junior web developer" />
                        <h3 class="footer-member-title">Crisanto Pedroso</h3>
                        <p class="footer-member-name">Junior Web Developer</p>
                        <!-- <button class="price">45 UAH</button> -->
                    </li>
                </ul>
            </div>
            <div class="swiper-pagination footer-swiper-pagination"></div>
        </div>
    </div>




    <!-- <h2 class="footer-team-heading">TEAM MEMBERS</h2>
    <ul class="gallery">
        <li class="modal-images-list">
            <img src="./images/addie.jpg" alt="team leader" width="84px" height="69px" class="member-image" />
            <h3 class="name">Jan Dilbert Ampuan</h3>
            <p class="position">Team Leader</p>
        </li>
        <li class="modal-images-list">
            <img src="./images/addie.jpg" alt="scrum master" width="84px" height="69px" class="member-image" />
            <h3 class="name">Adrienne Ortiz</h3>
            <p class="position">Scrum Master</p>
        </li>
        <li class="modal-images-list">
            <img src="./images/tine.jpg" alt="scrum master" width="84px" height="69px" class="member-image" />
            <h3 class="name">Christine Javier</h3>
            <p class="position">Junior Web Developer</p>
        </li>
        <li class="modal-images-list">
            <img src="./images/addie.jpg" alt="scrum master" width="84px" height="69px" class="member-image" />
            <h3 class="name">Rowell Calipay</h3>
            <p class="position">Junior Web Developer</p>
        </li>
        <li class="modal-images-list">
            <img src="./images/addie.jpg" alt="scrum master" width="84px" height="69px" class="member-image" />
            <h3 class="name">Crisanto Pedroso</h3>
            <p class="position">Junior Web Developer</p>
        </li>
    </ul>
</div>
</div> -->