<header class="header">
    <div class="container header-container">
        <div class="nav-menu">
            <a href="./" class="link logo">
                <span>
                    <!-- svg LOGO for film -->
                    <svg height="24" width="24">
                        <use href="./images/icon.svg#icon-film"></use>
                    </svg>
                </span><span class="logo-name">filmoteka</span>
            </a>
            <!-- navigation list -->
            <nav>
                <ul class="nav-item list" id="nav">
                    <li><a href="./" class="link page active">Home</a></li>
                    <!-- click menu -->
                    <!-- login or signup words shows -->
                    <!-- drop down bubble will appear -->
                    <li><a href="#" class="link page">My Library</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-search" id="header-option">
            <form action="load" class="search-form" autocomplete id="search___form">
                <!-- search input -->
                <input type="search" name="search" class="search-bar" id="search_item" placeholder="Search here"/>
                <!-- button submit -->
                <button type="submit" class="btn-search">
                    <svg height="12" width="12" class="icon">
                        <use href="./images/icon.svg#icon-search"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</header>
